#Tue, 28 May 2013 22:03:30 +0800
app.name=MyMaps

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=2b02aee9-8481-4fb7-8917-7b5379a2e942
