#Tue, 14 May 2013 17:13:51 +0800
app.name=MyMusic

app.framework=touch

app.classpath=${app.dir}/app.js,${app.dir}/app

app.build.dir=${workspace.build.dir}/${app.name}

app.cmd.version=3.1.0.256
app.id=aa9ad677-31e7-4b09-849a-102f8a948ebb
